################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
.vs/
obj/
Release/
Debug/
###################################################

###################################################
/spt.app/obj/Debug/
/spt.app/obj/Debug/TempPE/
/spt.ui/obj/Debug/
/spt.vm/obj/Debug/
###################################################